body {
    display: flex;
    background-color: darkblue;
    margin: 0px;
    padding: 0px;
    color: white;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
}

main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    font-size: 32px;
    margin-bottom: 48px;
}