body {
    display: flex;
    background-color: darkblue;
    margin: 0px;
    padding: 0px;
    color: white;
    /*font-family: 'Ram';*/
    flex-direction: column;
    height: 100vh;
}

/*@font-face {
    font-family: 'Ram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
*/
header {
    display: flex;
    padding: 16px;
    /*background-color: yellow;*/
    color: yellow;
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
    /*background-color: black;*/
    color: white;
}

main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1; /*flex-grow와 flex-shrink를 합쳐서 flex라고만 써도 된다. (flex : 1;)*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 64px;
    margin-bottom: 64px;
}

.menu-item {
    font-size: 32px;
    margin-bottom: 48px;
}